.today-section{
    background: var(--ion-color-secondary-shade);
    color: #FFF;
    margin-top: 18px;
    border-radius: 15px;
    ion-grid{
      padding: 16px 16px 6px 16px;
    }
    .today{
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
    }
    .temperature{
      font-size: 50px;
      position: relative;
      span{
        font-size: 20px;
        position: absolute;
        top: 0;
        color: #FED55B;
        right: -20px;
      }
    }
    .days{
      font-size: 12px;
      text-align: right;
    }
    .cloud{
      text-align: right;
      margin-top: 6px;
      img{
        width: 90px;
      }
    }
    .location{
      text-align: center;
      ion-icon{
        position: relative;
        top: 2px;
        right: 5px;
      }
    }
  }