<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <img class="menu-icon" src="/assets/icon/Vectormenu.svg" />
    </ion-buttons>
    <ion-title class="title">Weather Forcast</ion-title>
    <ion-buttons slot="end">&nbsp;</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="search-section">
      <ion-searchbar placeholder="Search your city" [ngModel]="selectedCity?.LocalizedName" class="serch-input" debounce="500" (ionFocus)="onfocusSearch()" (ionChange)="getItems($event)"></ion-searchbar>
      <ion-list *ngIf="isItemAvailable" class="autocomplete">
        <ion-item *ngFor="let item of cityList" (click)="setCity(item)">{{ item.LocalizedName }}</ion-item>
    </ion-list>
    </div>
    <app-today-weather [detail]="weatherDetail" [selectedCity]="selectedCity"></app-today-weather>
    <div class="humidity-presure">
      <ion-grid class="p-0">
        <ion-row>
          <ion-col class="p-0 col-left">
            <div class="box humidity">
              <img src="/assets/images/humidity.png" />
              <div class="heading">
                {{jsonData.humidity}}%
                <div class="sub-heading">Humidity</div>
              </div>
            </div>
          </ion-col>
          <ion-col class="p-0 col-right">
            <div class="box humidity">
              <img src="/assets/images/pressure.png" />
              <div class="heading">{{jsonData.presure}}HPa
                <div class="sub-heading">Presure
              </div>
            </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="history">
      <ion-grid class="p-0">
        <ion-row>
          <ion-col class="p-0 mr-10">
            <div class="box days">
              <div class="heading">
                <div class="temperature">{{jsonData.upcomingData[0].temprature}}<span>&#8451;</span></div>
                <div class="sub-heading">{{jsonData.upcomingData[0].day}}</div>
              </div>
            </div>
          </ion-col>
          <ion-col class="p-0 mr-10">
            <div class="box days">
              <div class="heading">
                <div class="temperature">{{jsonData.upcomingData[1].temprature}}<span>&#8451;</span></div>
                <div class="sub-heading">{{jsonData.upcomingData[1].day}}
              </div>
            </div>
            </div>
          </ion-col>
          <ion-col class="p-0">
            <div class="box days">
              <div class="heading">
                <div class="temperature">{{jsonData.upcomingData[2].temprature}}<span>&#8451;</span></div>
                <div class="sub-heading">{{jsonData.upcomingData[2].day}}
              </div>
            </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
